*{
  list-style:none;
  margin:0; 
  padding:0;
  text-decoration:none;
  } 
header{
display: flex;
justify-content: space-between;
align-items: center;
height: 5em;
border-bottom: inset rgb(235, 230, 230);
}
#logo{
margin-left: 50px;
}
#cabecera{
  margin-right: 50px;
  text-align: left;
}
.cuentas{
  display: flex;
}
#primer{ 
  display: flex;
  align-items: center;
  width: 21%;
  background-color: #4484f3;
  border: #4484f3;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  text-align: right;
}
.g{
  color:white;
  text-decoration: none;
  border-radius: 3px;
  text-align: right;
  margin: 2px;
}
#segundo{
  display: flex;
  align-items:center;
  width: 25%;
  border-radius: 3px;
  background-color: #33538b;
  border: #33538b;
  margin: 1px;
  margin: 5px;
  padding: 5px;
  text-align: justify;
}
.face{
  color:white;
  text-decoration: none;
  border-radius: 3px;
  text-align: right;
  margin: 2px;
}
main{ 
  width: 50vw;
  height: 50vh;
  display: block;
  margin-left: 10%;
  margin-bottom: 5%;
  padding: 3%;
  line-height: 2.5;
  font-family:'Poppins', sans-serif;
}
.sign, .terms, .profe{
  text-decoration: none;
  color:#4484f3; 
}
.form-check{
  display:flex;
  margin-bottom: 20px;
  width: 100%;
  margin-right: 10px;
  align-items: center;
}
.form-check-label{
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input[type="checkbox"] + label {
 margin-left: 5px;
}
#create{
  display: flex;
  width:200px;
  height: 30px;
  text-align: center;
  margin: 1%;
  padding: 1%;
  color: rgb(173, 170, 170);
  border: 2px dashed rgb(173, 170, 170);
  border-radius:140px;
  align-items: center;
  justify-content: space-around;
  }
footer{
  height: 5px;
  display: flex;
  align-items:inherit;
  padding-left: 50px;
  border-top: outset rgb(235, 230, 230);
}
span{
  font-size: 15px;
  line-height: 2em;
}
.uno, .dos, .tres, .cuatro{
  margin: 30px;
}
.uno{
  padding-left: 5px;
  padding-right: 5px;
}
input{
  border: 1px solid grey;
  height: 30px;
}